<div class="container">
    <div class="row justify-content-center align-items-center" style="height:100vh">
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <form action="" autocomplete="off">
                        <div class="form-group">
                            <input type="text" class="form-control" name="email" placeholder="email address" [(ngModel)]="loginInfo.email">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" name="password" placeholder="password" [(ngModel)]="loginInfo.password">
                        </div>

                        <button type="button" id="sendlogin" class="btn btn-primary" (click)="onLoginBttnClicked()">login</button>
                    </form>
                    
                </div>
            </div>
        </div>
    </div>
</div>
