<!-- Sidebar -->
<div class=" bg-sidebar border-right" id="sidebar-wrapper">
    <div class="sidebar-heading">
      <img src='./assets/images/pdi_logo.png'>
    </div>
    <div class="list-group list-group-flush">
      <a routerLink="/asm/dashboard"
      class="list-group-item list-group-item-action bg-sidebar">Dashboard</a>
  
      <!-- <a routerLink="/asm/contract" *ngIf="permits['USR_VIEW_CUST']"
        class="list-group-item list-group-item-action bg-sidebar">Contracts</a>
  
        <a routerLink="/asm/company" *ngIf="permits['USR_VIEW_CUST']"
        class="list-group-item list-group-item-action bg-sidebar">Company Profiles</a>
  
        <a routerLink="/asm/activation" *ngIf="permits['USR_VIEW_CUST']"
        class="list-group-item list-group-item-action bg-sidebar">Activations</a>
  
  
      <a routerLink="/asm/user" *ngIf="permits['ADM_VIEW_USR']"
        class="list-group-item list-group-item-action bg-sidebar">User Management</a>
        
      <a routerLink="/asm/group" [hidden]="!permits['ADM_VIEW_GRP']"
        class="list-group-item list-group-item-action bg-sidebar">Group Management</a> -->
    </div>
  </div>
  <!-- /#sidebar-wrapper -->